@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 260 85% 65%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 260 85% 65%;
    --radius: 0.5rem;
    --chart-1: 260 85% 65%;
    --chart-2: 260 75% 55%;
    --chart-3: 260 65% 45%;
    --chart-4: 260 55% 35%;
    --chart-5: 260 45% 25%;
    
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 240 10% 3.9%;
    --sidebar-primary: 260 85% 65%;
    --sidebar-primary-foreground: 60 9.1% 97.8%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 240 5.9% 90%;
    --sidebar-ring: 240 5.9% 10%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 60 9.1% 97.8%;
    --card: 240 10% 3.9%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 260 85% 65%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 260 85% 65%;
    --chart-1: 260 85% 65%;
    --chart-2: 260 75% 55%;
    --chart-3: 260 65% 45%;
    --chart-4: 260 55% 35%;
    --chart-5: 260 45% 25%;
    
    --sidebar-background: 240 10% 3.9%;
    --sidebar-foreground: 60 9.1% 97.8%;
    --sidebar-primary: 260 85% 65%;
    --sidebar-primary-foreground: 60 9.1% 97.8%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 60 9.1% 97.8%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 260 85% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
